<div class="container-fluid">

  <div class="navbar-header">
    <h3> <a class="navbar-brand">Wikinimous</a> <a class="navbar-collapse" href="/articles/new"> New Article</a></h3>

  </div>

</div>

<div class="container">
<% @articles.each do |article| %>
  <h1> <%= link_to article.title, article_path(article["id"]) %> </h1>
  <p> <%= article.content %> </p>
<% end %>
</div>
